# --- Data Manipulation ---
pandas
psycopg2-binary

# --- Access to Credentials ---
python-dotenv

# --- API & Web Scraping ---
requests
eurostat
lxml # coordinates script
html5lib      

# --- Excel Processing (Eurobarometer) ---
openpyxl  # required by pandas

# --- Visualization ---
matplotlib
seaborn
plotly

# --- Analysis ---
scikit-learn
statsmodels

# --- Streamlit ---
streamlit
